# Local directories for local testing
Gemfile.lock
.sass-cache/**
_drafts/**
_site
_sass/*.map
_includes/.sass-cache/**
_posts/.sass-cache/**
_sass/.sass-cache/**
test
test/**
# GitEye project
.project