{% if page.subgroup != null %}
{% capture empty %}
{% include doc_group_index.html %}

{% assign doc_title = site.data.index_docs.groups[group_index].title  %}
{% assign doc_title = doc_title | append: '&nbsp;&bull;&nbsp;' %}
{% assign doc_title = doc_title | append: site.data.index_docs.groups[group_index].subgroups[subgroup_index].title %}

{% endcapture %}{% assign empty = nil %}

<section class="column_right_sidebar">
    <div class="section_container_wrapper">
        <div class="container">
            <div id="doc_toc_block" class="block">
                <h1>{{ doc_title }}</h1>
                <div class="entries">
                    <div class="entry">
                        <ol>
                        {% include doc_toc_links.html doc_index = group_index doc_sub_index = subgroup_index %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
