{% comment %}
Acquire the documentation group and subgroup indices based on the
current page yaml key 'group' and 'subgroup'

This file must be in the '_include' directory or relatively
soft linked in that directory with the name 'group_index.html'
relative to this directory.

In the _include directory:
    ln -s ../documentations/_group_index.html group_index.html
{% endcomment %}

{% capture empty %}


{% assign group_index = 0 %}
{% assign subgroup_index = 0 %}
{% assign counter = 0 %}
{% for item in site.data.index_docs.groups %}
    {% if item.group == page.group %}
        {% assign group_index = counter %}
        {% assign subcounter = 0 %}
        {% for subitem in item.subgroups %}
            {% if subitem.subgroup == page.subgroup %}
                {% assign subgroup_index = subcounter %}
                {% break %}
            {% endif%}
            {% assign subcounter = subcounter | plus: 1 %}
        {% endfor %}
    {% endif%}
    {% assign counter = counter | plus: 1 %}
{% endfor %}

{% endcapture %}{% assign empty = nil %}