{% assign dlangref = false %}
{% for tag in page.tags %}
    {% if tag == "dguide" or tag == "dref" or tag == "dindex" %}
        {% assign dlangref = true %}
        {% break %}
    {% endif %}
{% endfor %}
    
<head>
    {% seo %}
    {% feed_meta %}
    
    <title>
    {{ site.title }} - {{ page.title }}
    {% if page.chapter != nil %}
        - {{ page.chapter }}
        {% if page.section != nil %} - {{ page.section }}{% endif %}
    {% endif %}
    </title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<!-- <meta name="description" content="The Perfect 3 Column Liquid Layout: No CSS hacks. SEO friendly. iPhone compatible." /> -->
	<!--<meta name="keywords" content="The Perfect 3 Column Liquid Layout: No CSS hacks. SEO friendly. iPhone compatible." /> -->
    <meta name="description" content="Programming." />
	<meta name="keywords" content="cpp dlang programming" />
	<meta name="robots" content="index, follow" />
    <!-- <link href="http://fonts.googleapis.com/css?family==Muli:400,300,700,400italic" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pygment_trac.css">
    <!-- Override the default styles above -->
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/layout.css" media="screen" /> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/overridestyles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/code.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- For search.json -->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ site.baseurl }}/javascripts/respond.js"></script>
    <!-- Load Google fonts asynchroneously -->
    <!-- Ref: http://haisum.github.io/2014/11/03/google-fonts-asynchroneous-loading/ -->
    <!--
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Muli:400,300,700,400italic:latin', 'Muli:400:latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
    -->
 
    <script type="text/javascript">
        function removeNL(s){
            return s.replace(/[\n\r\t]/g, ""); //replaces NewLine or CarriageReturn or Tab with empty string.
        }
    </script>
    
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>
