<!-- Add vertical space before the 'hr' so it does not look cramped -->
<p class="vspace5" />
<hr class="thin">
<div>
    <p>
        {% for tag in page.tags %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    </p>
    <br/>

    <div class="vspace">
        <!-- Twitter -->
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="rickymaicle"></a>
        <!-- Google + -->
        <p><g:plusone size="medium"></g:plusone></p>
    </div>

    <div id="page_previous">
        {% if page.previous != nil %}
            <p class="vspace5">Previous</p>
            <a href="{{ page.previous.url }}">
                <h3 class="vspace10">{{ page.previous.title }}</h3>
            </a>
            <p>
            {{ page.previous.excerpt }}<br/>
            {{ page.previous.date | | date: "%b %-d, %Y" }}
            </p>
            
        {% endif %}
    </div>

    <div id="page_next">
        {% if page.next != nil %}
            <p class="vspace5">Next</a></p>
            <a href="{{ page.next.url }}">
                <h3 class="vspace10">{{ page.next.title }}</h3>
            </a>
            <p>
            {{ page.next.excerpt }}<br/>
            {{ page.next.date | | date: "%b %-d, %Y" }}
            </p>
        {% endif %}
    </div>

    <div class="vspace">&nbsp;</div>
</div>
