<section class="column_right_sidebar">
    <!--
    <div id="ads">
        <a href="http://matthewjamestaylor.com">
            <img src="mjt-125x125.gif" width="125" border="0" height="125" alt="Art and Design by Matthew James Taylor" />
        </a>
    </div>
    -->

    <h3>Related Posts</h3>
    <ul class="list_style_none list_style_nopadding vspace">
        {% for post in site.related_posts limit:3 %}
        <li>
            <a href="{{ post.url }}">{{ post.title }} &ndash; {{ post.date | date_to_string }}</a>
        </li>
        {% endfor %}
    </ul>

    {% include recent_posts.html %}

    {% include common_links.html %}

</section>
