{% if page.title != "Home" %}
<h3>Recent Posts</h3>
<ul class="list_style_none list_style_nopadding vspace">
    {% for post in site.posts limit:6 %}
        {% if post.title != page.title %}
        <li>
            {% if post.date == nil %}
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% else %}
            <a href="{{ post.url }}">{{ post.title }} &ndash; {{ post.date | date_to_string }}</a>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
