<section class="column_left_sidebar">
    {% include common_menu.html %}

    <div id="compiler_releases">
        <h1>Compiler Releases</h1>
        <p>Digital Mars D 2.071.0</p>
        <ul>
            <li><a href='http://dlang.org/download.html' target=_blank>Download</a></li>
            <li><a href='http://dlang.org/changelog/2.071.0.html' target=_blank>Change Log</a></li>
        </ul>
        <p>Query and report bugs to <a href='https://issues.dlang.org' target=_blank>DLang Issues</a>.</p>
        
        <hr class='thin medium margin_top_15 darker'></hr>
        
        <p>LLVM-base D Compiler 0.17.1</p>
        <ul>
            <li><a href='https://github.com/ldc-developers/ldc/releases/tag/v0.17.1' target=_blank>Download and Change Log</a></li>
        </ul>
        <p>Query and report bugs to <a href='https://github.com/ldc-developers/ldc/issues' target=_blank>LDC Issues</a>.</p>
        
    </div>
    <div id="dlang_news">
        <h1>Latest News</h1>
        {% for news in site.data.dnews %}
            <p>
                {{ news.title }}<br/>
                {% if news.href != nil %}
                    <i><a href='{{ news.href }}' target=_blank>Link to details</a></i>
                {% endif %}
            </p>
            <hr class='thin medium margin_top_15 darker'></hr>
        {% endfor %}
    
        <p>For more news and announcements visit the <a href='https://forum.dlang.org/group/announce'>Forum Announcements</a>.</p>
    </div>
    
    
</section>
