<ol>
{% assign page_chapter = page.chapter %}
{% for item in site.data.dguide %}
    {% if item.chapter == page_chapter %}
        {% for section in item.sections %}
            {% if section.subsections != nil and section.section == page.section %}
                {% for subsec in section.subsections %}
                    <li class="padding_left_5"><a class="no_underline" href="{{ subsec.sshref }}">{{ subsec.subsection }}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
</ol>
