<section class="column_right_sidebar">

    <h3>D Programming Language</h3>
    <ol class="padding_left_25">
        {% include reference_dlang_toc_links.html %}
        
    </ol>
    <hr class="thin dark">
    <a class="no_underline" href="http://dlang.org">Official Site (dlang.org)</a></br>
    <a class="no_underline" href="http://dlang.org/dlangspec.pdf">Specification</a>
    
    <div class="hide">
    {% if page.title != "D Programming Language Reference" %}
        <h3>Current Chapter</h3>
        {% include reference_dlang_toc_chapter_links.html %}
    {% endif %}
    </div>

</section>
