<section class="column_right_sidebar">

    {% if dguide == true %}
    <h1>D Programming Language</h1>
    {% else %}
    <h1>D Library Reference</h1>
    {% endif %}
    
    <a class="no_underline" href="http://dlang.org" target=_blank>Official Site (dlang.org)</a></br>
    <a class="no_underline" href="http://dlang.org/dlangspec.pdf" target=_blank>Language Specification (pdf)</a></br>
    <a class="no_underline" href="http://dlang.org/phobos/index.html" target=_blank>Library Reference</a></br>
    <a class="no_underline" href="https://issues.dlang.org/" target=_blank>Issue Tracker</a></br>
    <a class="no_underline" href="http://wiki.dlang.org/" target=_blank>Wiki</a></br>
    <hr class="thin dark">
    
    {% if dguide == true %}
    
    <ol class="padding_left_25">
        {% include reference_dlang_toc_links.html %}
    </ol>
    
    {% else %}
    
    {% endif %}
    
</section>
