{% if page.title == 'Guide to the D Programming Language' and    page.chapter != 'Index' %}

<!-- Add vertical space before the 'hr' so it does not look cramped -->
<p class="padding_bottom_5" />
<hr class="thin">
<div class="padding_bottom_25">
    <p>
        {% for tag in page.tags %}
            <span class="tag">{{ tag }}</span>
        {% endfor %}
    </p>
    <br/>
    
    {% assign previous_page = nil %}
    {% assign previous_url = nil %}
    {% assign current_page_found = false %}
    
    {% for p in site.data.dguide %}
        
        {% if p.chapter == page.chapter and previous_page != nil %}
            <div id="page_previous">
                <p class="padding_bottom_5">Previous</p>
                <p class="padding_bottom_5"><a href="{{ previous_url }}">{{ previous_page }}</a></p>
                
                <p class="back_to_top padding_bottom_5"><a href="#">Back to Top</a></p>
            </div>
            
        {% endif %}
        
        {% assign previous_page = p.chapter %}
        {% assign previous_url = p.href %}
        
        
        <!-- NOTE: This check must be performed first -->
        <!--       because the current page may have been found in the previous iteration. -->
        {% if current_page_found == true %}
            <div id="page_next">
                <p class="padding_bottom_5">Next</p>
                <p class="padding_bottom_5"><a href="{{ p.href }}">{{ p.chapter }}</a></p>
                
                <p class="back_to_top padding_bottom_5"><a href="#">Back to Top</a></p>
            </div>
            
            <!-- Reset so everything happens only once -->
            {% assign current_page_found = false %}
        {% endif %}
        
        <!-- search for the current page -->
        <!-- when found then the next page link is displayed at the next iteration -->
        {% if p.chapter == page.chapter and current_page_found == false %}
            {% assign current_page_found = true %}
        {% endif %}
            
    {% endfor %}
</div>

{% endif %}