<ol>
{% assign page_chapter = page.chapter %}
{% for item in site.data.dguide %}
    {% if item.chapter == page_chapter %}
        {% for itemsection in item.sections %}
            {% if itemsection.subsections != nil and itemsection.section == page.section %}
                {% for itemsubsection in itemsection.subsections %}
                    {% if itemsubsection.subsubsections != nil and itemsubsection.subsection == page.subsection %}
                        {% for itemsubsubsection in itemsubsection.subsubsections %}
                            <li class="padding_left_5"><a class="no_underline" href="{{ itemsubsubsection.ssshref }}">{{ itemsubsubsection.subsubsection }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
</ol>
