{% for item in site.data.dguide %}
    {% if item.href == 'divider' %}
        <hr class="thin compact darker">
    {% else %}
        {% if page.chapter == item.chapter %}
            <li class="current"><a href="{{ item.href }}" class="current">{{ item.chapter }}</a></li>
        {% else %}
            <li><a href="{{ item.href }}">{{ item.chapter }}</a></li>
        {% endif %}
        
        {% if page.chapter == item.chapter %}
            {% if item.sections != nil %}
                <ol>
                {% for itemsection in item.sections %}
                    
                    {% if itemsection.section == page.section %}
                        <li class="current"><a href="{{ itemsection.shref }}" class="current">{{ itemsection.section }}</a></li>
                    {% else %}
                        <li><a href="{{ itemsection.shref }}">{{ itemsection.section }}</a></li>
                    {% endif %}
                    
                    {% if itemsection.subsections != nil and itemsection.section == page.section %}
                        <ol>
                        {% for itemsubsection in itemsection.subsections %}
                        
                            {% if itemsubsection.subsection == page.subsection %}
                                <li class="current"><a href="{{ itemsubsection.sshref }}" class="current">{{ itemsubsection.subsection }}</a></li>
                            {% else %}
                                <li><a href="{{ itemsubsection.sshref }}">{{ itemsubsection.subsection }}</a></li>
                            {% endif %}
                            
                            {% if itemsubsection.subsubsections != nil and itemsubsection.subsection == page.subsection %}
                                <ol>
                                {% for itemsubsubsection in itemsubsection.subsubsections %}
                                
                                    {% if itemsubsubsection.subsubsection == page.subsubsection %}
                                        <li class="current"><a href="{{ itemsubsubsection.ssshref }}" class="current">{{ itemsubsubsection.subsubsection }}</a></li>
                                    {% else %}
                                        <li><a href="{{ itemsubsubsection.ssshref }}">{{ itemsubsubsection.subsubsection }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                </ol>
                            {% endif %}
                            
                        {% endfor %}
                        </ol>
                    {% endif %}
                    
                {% endfor %}
                </ol>
            {% endif %}
        {% endif %}
        
    {% endif %}
{% endfor %}


