{% if page.title != "D Programming Language" %}

<!-- Add vertical space before the 'hr' so it does not look cramped -->
<p class="vspace5" />
<hr class="thin">
<div>
    {% assign previous_page = nil %}
    {% assign previous_url = nil %}
    {% assign current_page_found = false %}
    
    {% for p in site.dlang_list %}
        {% if p[1] != 'divider' %}
        
        
            {% if p[0] == page.title and previous_page != nil %}
                <div id="page_previous">
                    <p class="vspace5">Previous</p>
                    <a href="{{ previous_url }}">
                        <h3 class="vspace10">{{ previous_page }}</h3>
                    </a>
                    
                    <div class="vspace">&nbsp;</div>
                    <a href="#">Back to Top</a>
                </div>
                
            {% endif %}
            {% assign previous_page = p[0] %}
            {% assign previous_url = p[1] %}
            
            
            <!-- NOTE: This check must be performed first -->
            <!--       because the current page may have been found in the previous iteration. -->
            {% if current_page_found == true %}
                <div id="page_next">
                    <p class="vspace5">Next</p>
                    <a href="{{ p[1] }}">
                        <h3 class="vspace10">{{ p[0] }}</h3>
                    </a>
                    
                    <div class="vspace">&nbsp;</div>
                    <a href="#">Back to Top</a>
                </div>
                
                <!-- Reset so everything happens only once -->
                {% assign current_page_found = false %}
            {% endif %}
            
            <!-- search for the current page -->
            <!-- when found then the next page link is displayed at the next iteration -->
            {% if p[0] == page.title and current_page_found == false %}
                {% assign current_page_found = true %}
            {% endif %}
            
        {% endif %}
    {% endfor %}
    
    <div class="vspace">&nbsp;</div>
</div>

{% endif %}