$color_primary:         #FFB90F;
$color_primary_darker:  $color_primary - 30;

//$color_text:          #b3b3b3;
$color_text:            #a3a3a3;
$color_text_dark:       $color_text - 20;
$color_text_darker:     $color_text - 50;
$color_text_highlight:  #dddddd;

$color_aside_text:      #e8e8e8;

$color_link:			#FFB90F;
$color_link_underline:	$color_link - 100;

$color_footer_bg:       #333333;

$color_code:            #a3a3a3;
$color_code_highlight:  #eeeeee;

$color_table_border:    #434343;

// Background colors

$color_bg:              #252525;
$color_lbg:             #555555;
$color_table_th_bg:     #2c2c2c;

$color_aside_bg:        #252525;
$color_tag_bg:          #404040;
$color_nav_bg:          #333333;

$color_code_bg:         #202020;

// Others

$color_hr_default:      $color_lbg;
$color_hr_dark:         #404040;
$color_hr_darker:       $color_bg;
