// Liberation Sans is too narrow
// Merriweather is good but seems a bit thick
// Playfair looks nice in bigger sizes, like titles or headings

//@import url("//fonts.googleapis.com/css?family=PT Serif");
//@import url("//fonts.googleapis.com/css?family=Droid Sans");
//@import url("//fonts.googleapis.com/css?family=Open Sans");
@import url("//fonts.googleapis.com/css?family=Roboto Slab");

// Unused
//@import url("//fonts.googleapis.com/css?family=Droid Serif");

$font_code:                 "RM Courier", Monaco, Menlo, Consolas, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
$font_serif:                "Roboto Slab", Garamond, Palatino, "Palatino Linotype", Times, "Times New Roman", Georgia, serif;
$font_sans:                 "Open Sans", Helvetica, Arial, sans-serif;
$font_sans_thin:            "Open Sans", Helvetica, Arial, sans-serif;

$font_title:                $font_sans;
$font_title_tagline:        $font_serif;
$font_default:              $font_serif;
$font_default_thin:         $font_sans_thin;
$font_heading:              $font_serif;
$font_label:                $font_sans;
$font_footer:               $font_default;

$font_size_title:           22px;
$font_size_title_tagline:   12px;

$font_size_heading:         22px;

$font_size_default:         13px;
$font_size_default_thin:    13px;
$font_size_code:            13px;
$font_size_code_in_text:    13px;
$font_size_label:           13px;
$font_size_table_heading:   $font_size_default;
$font_size_table_data:      $font_size_default;

$font_size_nav:	            $font_size_label;
$font_size_page_nav:        $font_size_nav + 2;

$font_size_right_links:     $font_size_nav;

$font_size_footer:          11px;
$font_size_license:         11px;

$word_spacing:              0.155em;     // normal 0.25em;

@font-face {
    font-family: 'RM Courier';
    src: url("../fonts/RMCourier-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
