@import url("//fonts.googleapis.com/css?family=Rokkitt");

//$font_default:          "Rokkitt", "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_default:              "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_semi_bold:            "OpenSansSemiBold", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_sans:                 $font_default;
$font_heading:              $font_semi_bold;
$font_footer:               $font_default;
$font_code:                 "TheSansMonoCondensed Plain", "RM Courier", "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
$font_size_default:         13px;
$font_size_sans:            12px;
$font_size_code:            13px;

$font_size_title:           22px;
$font_size_title_tagline:   $font_size_default;

$font_size_page_nav:	    14px;

$font_size_footer:		    10px;
$font_size_license:         10px;

@font-face {
    font-family: 'RM Courier';
    src: url("../fonts/RMCourier-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
