body {
    background: $color_bg;
    font: $font_size_default/1.5 $font_default;
    color: $color_text;
    padding-bottom: 0;
    margin-bottom: 0;
    /* 'Hide' horizontal scrollbar when viewed in small media */
    /* https://css-tricks.com/findingfixing-unintended-body-overflow/ */
    overflow-x: hidden;
    
    padding-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_heading;
}

li, a, p, dl {
    font-family: $font_default;
    font-size: $font_size_default;
}

a {
    color: $color_text;
    border-bottom: 1px dotted $color_link_underline;
    text-decoration: none;
    &:hover {
        color: $color_primary;
        border-bottom: 1px dotted $color_primary;
    }
}

hr {
    border: 0;
    outline: none;
    height: 3px;
    background: $color_hr_default;
    margin-top: 40px;
    margin-bottom: 40px;
    &.thin {
        height: 1px;
        margin-top: 20px;
        margin-bottom: 17px;
    }

    &.compact {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    &.medium {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &.dark {
        background: $color_hr_dark;
    }

    &.darker {
        background: $color_hr_darker;
    }

    &.darkest {
        background: #000;
    }
}

ul {
    list-style-type: disc;
    list-style-image: none;
    padding-left: 30px;
    margin-bottom: 0;
    li {
        padding-left: 5px;
    }
}

ol {
    padding-left: 40px;
    margin-bottom: 0;
    li {
        padding-left: 5px;
    }
}

strong {
    font-family: $font_default !important;
    font-size: $font_size_default;
    font-weight: normal; 
    color: $color_text_highlight;
}

b {
    font-family: $font_default !important;
    font-size: $font_size_default;
    font-weight: normal; 
    color: $color_text_highlight;
}

em {
    font-size: $font_size_default;
    font-weight: normal;
    /* border-bottom: 1px dotted $color_text_darker - 50; */
    color: $color_text_highlight;
}

i {
    font-size: $font_size_default;
    font-weight: normal;
}

mark {
    color: black;
}

pre {
	font-family: $font_code;
    font-size: $font_size_code;
}

p code {
	font-family: $font_code;
    font-size: $font_size_code;
}

table {
    //width: 100%;
    border: 1px solid $color_table_border;
    th, td {
        font-family: $font_default_thin;
        font-size: $font_size_default - 1;
        border: 1px solid $color_table_border;
    }
	th {
        padding: 3px 10px;
    }
    td {
        vertical-align: top;
        /* padding: 1px 5px 3px 5px; */
        padding: 2px 10px 4px 10px;
    }
    th:first-child,
    td:first-child {
        /* Make the width of the first item small so the right side cells will span the width of the table */
        /* width: 10px; */
        border-left: none;
    }
}

blockquote {
    font-size: $font_size_default;
    border-left: 6px solid $color_bg + 20;
    margin-left: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 0 0 12px;
    width: 80%;
}

aside {
    font-size: $font_size_default;
    line-height: 18px;
    text-align: right;
    color: $color_aside_text;
    float: right;
    width: 34%;
    padding: 6px 8px 6px 8px;
    margin-left: 10px;
    border-right: 3px solid $color_lbg;
}

sup {
    a {
        font-family: $font_default;
        font-size: $font_size_default - 3;
        color: $color_text_highlight;
        border-bottom: none;
    }
    a::before {
        content: " [note ";
    }
    a::after {
        content: "] ";
    }
}

div.footnotes {
    hr {
        height: 1px;
        width: 30%;
        // Must be the same as paragraph separator vertical space
        margin-bottom: 12px;
    }
    ol {
        padding-left: 20px;
        li {
            font-family: $font_default;
            font-size: $font_size_default - 1;
            p {
                margin-bottom: 0px;
                a {
                font-family: $font_default;
                font-size: $font_size_default - 1;
                border-bottom: none;
            }
            }
        }
    }
}

/* ------------------------------------------------------------------------- */
/* Header and header navigation                                              */
/* ------------------------------------------------------------------------- */

header {
    background: black;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
    
    h1 {
        margin: 0;
        padding: 5px 0 0 15px;
        a {
            font-family: $font_title;
            font-size: $font_size_title;
            font-weight: normal;
            text-align: left;
            line-height: $font_size_title;
            color: $color_primary_darker;
            border: none;
            &:hover {
                border: none;
            }
        }
        
    }
    
    h2 {
        font-family: $font_title_tagline;
        font-weight: normal;
        font-style: italic;
        font-size: $font_size_title_tagline - 1;
        text-align: left;
        line-height: 14px;

        margin: 0;
        /* If the title changes, the top padding may need to be adjusted */
        padding: 7px 0 10px 15px;
        /* When viewed in small media, the text is displayed too close to the */
        /* vertical scrollbar so we add some padding on the right */
        padding-right: 15px;
    }
}

header div.nav_background {
    background: black;
    /* Manually adjusted if the header navigation gets taller/shorter */
    height: 31px;
}

nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 9px;
    padding-bottom: 2px;
    
    &.left {
        float: left;
        margin-left: 15px;
    }

    &.right {
        float: right;
        margin-right: 15px;
    }
    
    li {
        display: inline-block;
        margin-right: 1px;
        
        a {
            font-family: $font_label;
            font-size: $font_size_nav;
            font-weight: normal;
            color: $color_primary_darker;

            text-transform: uppercase;

            padding-top: 2px;
            padding-bottom: 3px;
            padding-left: 10px;
            padding-right: 10px;

            border-top: 3px solid black;
            border-bottom: 0px;
            
            &:hover {
                /* Remove the bottom dotted line in common link styles */
                border-bottom: 0px;
                border-top: 3px solid $color_primary;
            }
            
            &.active {
                color: black;
                background: $color_primary;
                border-top: 3px solid $color_primary;
                border-bottom: 1px solid $color_primary;
                border-radius: 3px 3px 0px 0px;
            }
        }
    }
    
    &.navbar {
        background: $color_nav_bg;
        padding: 0;
        margin: 0;
        border-top: 4px solid $color_primary;
        border-bottom: 1px solid $color_lbg;
        height: 25px;
        
        p {
            margin-bottom: 0;
        }
    }
}

/* ------------------------------------------------------------------------- */
/* Columns                                                                   */
/* ------------------------------------------------------------------------- */

section.column_left_sidebar,
section.column_main,
section.column_right_sidebar {
    float: left;

    font-family: $font_default;
    margin-top: 17px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

section.column_left_sidebar {
    width: 20%
}
section.column_main {
    width: 47%;
}
section.column_right_sidebar {
    width: 23%;

    border-radius: 3px;
    background: #1a1a1a;
    padding: 12px 15px 15px 15px;
}

/* Media screen sizes */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media print, screen and (max-width: 1280px) {
    section[class="column_left_sidebar"] { width: 23%; }
    section[class="column_main"] { width: 40%; }
    section[class="column_right_sidebar"] { width: 24%; }
}

@media print, screen and (max-width: 1024px) {
    section[class="column_left_sidebar"] { width: 30%; }
    section[class="column_main"] { width: 62%; }
    section[class="column_right_sidebar"] { width: 92%; }
}

/* Intermediate transition */
/* Expand the main column only */
@media print, screen and (max-width: 850px) {
    section[class="column_left_sidebar"] { width: 30%; }
    section[class="column_main"] { width: 62%; }
    section[class="column_right_sidebar"] { width: 92%; }
}

@media print, screen and (max-width: 749px) {
    section[class="column_left_sidebar"] { width: 30%; }
    section[class="column_main"] { width: 60%; }
    section[class="column_right_sidebar"] { width: 92%; }
}

@media print, screen and (max-width: 720px) {
    section[class="column_left_sidebar"] { width: 93%; }
    section[class="column_main"] { width: 93%; }
    section[class="column_right_sidebar"] { width: 86%; }
}

@media print, screen and (max-width: 480px) {
    section[class="column_left_sidebar"] { width: 93%; }
    section[class="column_main"] { width: 93%; }
    section[class="column_right_sidebar"] { width: 86%; }
}

/* generic */
@media print, screen and (max-width: 360px) {
    section[class="column_left_sidebar"] { width: 91%; }
    section[class="column_main"] { width: 92%; }
    section[class="column_right_sidebar"] { width: 83%; }
}

@media print, screen and (max-width: 320px) {
    section[class="column_left_sidebar"] { width: 91%; }
    section[class="column_main"] { width: 92%; }
    section[class="column_right_sidebar"] { width: 82%; }
}

/* ------------------------------------------------------------------------- */
/* Main content column                                                       */
/* ------------------------------------------------------------------------- */

section.column_main h1 { font-size: 22px; }
section.column_main h2 { font-size: 20px; }
section.column_main h3 { font-size: 18px; }
section.column_main h4 { font-size: 16px; }
section.column_main h5 { font-size: 14px; }
section.column_main h6 { font-size: 13px; }

section.column_main {
    h1, h2, h3, h4 {
        font-family: $font_heading;
        font-weight: normal;
        color: $color_text_highlight;
        text-shadow: 1px 1px 1px #000;
        margin-bottom: 14px;
    }
    
    h1, h1.pagetitle {
        margin-top: 0px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    
    h2, h3, h4 {
        padding-top: 20px;
    }
    h5, h6 {
        font-family: $font_heading_small;
        font-weight: normal;
        color: $color_text_highlight;
        text-shadow: none;

        padding-top: 10px;
        margin-top: 0px;
        margin-bottom: 10px;
        a {
            font-family: $font_heading_small;
            font-size: 13px;
            font-weight: normal;
            color: $color_primary_darker;
            border-bottom: none;
        }
    }
    h5 {
        font-style: italic;
    }
    h6 {
        font-style: italic;
    }
    
    p, li, dl {
        font-family: $font_default;
        font-size: $font_size_default;
        line-height: $font_size_default + 4;
        text-align: left;
    }
    
    p {
        /* margin: 0 0 8px 0; */
        /* All bottom margins must be the same */
        /*   <p>   */
        /*   <pre> */
        /*   <ul> */
        margin: 0 0 12px 0;
        
        &.excerpt,
        &.category,
        &.date {
            font-size: $font_size_default - 1;
            font-style: italic;
            color: $color_text_dark;
            margin: 0;
        }
    }
    
    ul, ol {
        /* All bottom margins must be the same */
        /*   <p>   */
        /*   <pre> */
        /*   <ul> */
        margin-bottom: 12px;
        
        /* Collapse bottom margin of inner 'ul' */
        ul, ol {
            margin-bottom: 0px;
        }
    }
    
    table th,
    table td {
        p {
            margin: 5px 0 0 0;
            &.label {
                line-height: 19px;
                margin: 0;
                white-space: nowrap !important;
            }
        }
        ul, ol {
            list-style-type: square;
            margin-bottom: 0px;
            li {
            
            }
        }
    }
}

/* ------------------------------------------------------------------------- */
/* Left sidebar column                                                       */
/* ------------------------------------------------------------------------- */

section.column_left_sidebar h3,
section.column_left_sidebar h4,
section.column_left_sidebar h5 {
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}

section.column_left_sidebar h3:first-child {
    margin-top: 0;
}

section.column_left_sidebar h3 {
    font-size: 15px;
    line-height: 18px;
}
section.column_left_sidebar h4 { font-size: 14px; }
section.column_left_sidebar h5 { font-size: 12px; }

/*
section.column_left_sidebar p {
    font-size: $font_size_default - 1;
    line-height: $font_size_default - 1 + 2;
}
*/

#random_tidbits div.tidbit_entry,
#dlang_foundation,
#compiler_releases,
#dlang_news {
    border-radius: 3px;
    background: #1a1a1a;
    /* Use at least 1px padding on top otherwise it collapses */
    padding: 10px 15px 12px 15px;
    margin-bottom: 12px;
    h1 {
        font-family: $font_label;
        font-size: $font_size_default - 2;
        font-weight: normal;
        color: $color_primary_darker;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #000;
        margin-top: 3px;
        margin-bottom: 12px;
    }
    a {
        font-family: $font_default_thin;
        font-size: $font_size_default_thin;
        color: $color_text_darker;
        &:hover {
            color: $color_primary;
        }
    }
    p {
        font-family: $font_default_thin;
        font-size: $font_size_default_thin;
        line-height: $font_size_default_thin + 2;
        color: $color_text_darker;
        margin-bottom: 0px;
        /* For the news we use */
        b, strong {
            font-size: $font_size_default_thin;
            /* color: $color_primary_darker - 30; */
            text-shadow: none;
        }
        i, em {
            font-size: $font_size_default_thin;
        }
        &.qauthor {
            font-family: $font_heading;
            font-style: italic;
            font-size: $font_size_default_thin;
            color: $color_text_highlight;
            padding-top: 8px;
        }
    }
    ul {
        list-style-type: square;
        list-style-image: none;
        padding-left: 20px;
        margin-bottom: 0;
        li {
            font-size: $font_size_default_thin;
            color: $color_text_darker;
            padding-left: 5px;
        }
    }
}

#random_tidbits p {
	a, a:hover {
		border-bottom: none;
	}
}

#nav_left {
    border-radius: 3px;
    background: #1a1a1a;
    padding: 17px 15px 12px 15px;
    margin-bottom: 12px;
    li {
        margin-right: 1px;
        padding-bottom: 5px;
        a {
            font-family: $font_label;
            font-size: $font_size_default - 2;
            font-weight: normal;
            color: $color_primary_darker;

            text-transform: uppercase;
            
            padding-left: 9px;
            border-bottom: none;
        }
        a:hover {
            color: $color_primary;
        }
        a.active {
            color: black;
            background: $color_primary_darker;
            border: 1px solid $color_primary_darker;
            padding: 1px 8px 1px 8px;
            border-radius: 3px;
        }
    }
}

/* ------------------------------------------------------------------------- */
/* Right sidebar column                                                       */
/* ------------------------------------------------------------------------- */

section.column_right_sidebar {
    h1 {
        font-family: $font_label;
        font-weight: normal;
        font-size: $font_size_default - 2;
        color: $color_primary_darker;
        text-shadow: 1px 1px 1px #000;
        text-transform: uppercase;
        margin: 0;
        padding-bottom: 10px;
    }
    
    ul, ol {
        li {
            font-family: $font_default_thin;
            font-size: $font_size_default_thin;
            
            padding: 0;
            line-height: 18px;
            
            a {
                font-family: $font_default_thin;
                font-size: $font_size_default_thin;
                color: $color_text_darker;
                border-bottom: none;
                
                &:hover {
                    color: $color_primary;
                }
                
                &:before {
                    /* content: "\00BB  "; */
                }
            }
        }
    }
}

// TODO: Where should we define code and pre?
//       This must be consistent. Currently they are set in 3 different
//       locations.

code {
    font-family: $font_code;
    font-size: $font_size_code;
    font-style: normal;
    color: $color_code_highlight;
    margin: 0 0px;
}

pre {
	font-family: $font_code;
    line-height: 16px;
    padding: 7px 10px 8px 10px;
    background: none;
    border: none;
    /* margin-bottom: 5px; */
    /* All bottom margins must be the same */
    /*   <p>   */
    /*   <pre> */
    /*   <ul> */
    margin-bottom: 12px;
    overflow: auto;
    overflow-y: hidden;
}

pre code {
	font-family: $font_code;
    color: $color_text_darker;
    text-shadow: none;
    border: none;
    border-radius: 0px;
}

/* Redcarpet markdown fenced code blocks */
/* Fenced code blocks are converted to div.highlight pre code.language-text */
div.highlight {
	color: $color_text_darker;
    background: #202020;
}


/* ------------------------------------------------------------------------- */
/* Bottom                                                                    */
/* ------------------------------------------------------------------------- */

#page_previous,
#page_next {
	width: 50%;
    
	a {
        /*
		font-size: $font_size_page_nav;
		color: $color_primary_darker;
		border-bottom: none;
        */
        font-family: $font_heading;
        font-size: $font_size_default + 4;
		font-weight: normal;
        line-height: 1.3em;
        color: $color_primary_darker;
        border-bottom: none;
		text-shadow: 1px 1px 1px #000;
		margin: 0;
        
        &:hover {
            color: $color_primary;
        }
	}
    
    p.back_to_top a {
        font-size: $font_size_default + 3;
        text-shadow: none;
    }

    p i,
    p em {
        color: $color_text;
    }
}

#page_previous {
	float: left;
}
#page_next {
	float: right;
	text-align: right;
	a, p {
		text-align: right;
	}
}

/* ------------------------------------------------------------------------- */
/* Footer                                                                    */
/* ------------------------------------------------------------------------- */

#prefooter {
    float: left;
    width: 100%;
    padding: 20px 0px 15px 0px;
    margin-left: 5px;
    #prefooter_column_one,
    #prefooter_column_two,
    #prefooter_column_three,
    #prefooter_column_four {
        float: left;
        width: 282px;
        padding-right: 30px;
    }
}

footer {
    float: left;
    width: 100%;

    font-family: $font_footer;
    font-size: $font_size_footer;
    color: $color_text;
    background: $color_footer_bg;
    border-top: 3px solid $color_lbg;
    padding: 20px 0px 15px 0px;
    
    #footer_bottom {
        float: left;
        padding: 10px 25px 0 25px;
        p, p a {
            font-size: $font_size_license;
        }
        p a {
            color: $color_primary_darker;
            border: none;
        }
    }
}

footer #footer_content {
    padding: 0px 0 0 25px;
    
    #footer_column_one,
    #footer_column_two,
    #footer_column_three,
    #footer_column_four {
        float: left;
        width: 282px;
        padding-right: 30px;
    }
    
    #footer_column_one.license {
        p, p a {
            font-size: $font_size_license;
        }
        p a {
            color: $color_primary_darker;
            border: none;
        }
        p {
            padding: 0px;
            word-wrap: normal;
        }
    }
}

// Index page listing post summaries instead of bullet list
// like the Recent Posts on the right side column
article.summary {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
    
	h2 {
        font-family: $font_heading;
		font-size: $font_size_default + 3;
		font-weight: normal;
        color: $color_primary_darker;
		line-height: 1.5em;
		text-shadow: 1px 1px 1px #000;
		padding: 0;
		margin: 0;
        
        &:hover {
            color: $color_primary;
        }
	}
    
	p {
		font-size: $font_size_default;
		line-height: 1.3em;
		padding: 0;
		margin: 0;
        padding-bottom: 10px;
	}

	a {
		font-size: $font_size_default;
		border-bottom: none;
        
        &:hover {
            color: $color_primary;
            border-bottom: 1px dotted $color_primary;
            
            p.excerpt {
                color: $color_text_highlight;
            }
        }
	}
}

// Archive page
#archive {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

section.social {
	a {
		font-size: $font_size_default;
		font-weight: normal;
		color: black;
		background: $color_primary_darker;
		border: 1px solid $color_primary_darker;
		border-radius: 3px;
		padding: 0px 8px 1px 8px;
		margin-left: 5px;
        
        // Invert text and background color only
        &:hover {
            color: $color_primary;
            background: black;
            border: 1px solid $color_primary;
            border-radius: 3px;
        }
	}
}


// Override
.link_color {
    color: $color_primary_darker;
}

// Override
.paddingtop0 {
    padding-top: 0px !important;
}

.hide {
    display: none;
}

.justify {
    text-align: justify;
}

.align_right {
    text-align: right;
}

.color_primary_darker {
    color: $color_primary_darker !important;
}

.color_highlight {
    color: $color_text_highlight !important;
}

.scroll_horizontal {
    overflow: scroll;
    overflow-x: scroll;
}

a.no_underline {
    border-bottom: none;
}

a.no_underline:hover {
    border-bottom: none;
}

.list_style_none {
    list-style-type: none;
}

li.no_left_margin {
    margin-left: 0px;
}

.margin_top_15 {
    margin-top: 15px !important;
}

.padding_top_none {
    padding-top: 0px !important;
}

.padding_top_5 {
    padding-top: 5px;
}

.margin_bottom_none {
    margin-bottom: 0px !important;
}

.padding_bottom_none {
    padding-bottom: 0px !important;
}

.padding_bottom_5 {
    padding-bottom: 5px;
}

.padding_bottom_25 {
    padding-bottom: 25px;
}

.padding_left_none {
    padding-left: 0px !important;
}

.padding_left_5 {
    padding-left: 5px !important;
}

.padding_left_25 {
    padding-left: 25px !important;
}

.padding_bottom_25 {
    padding-bottom: 25px !important;
}

.highlight {
    color: $color_text_highlight !important;
}

.text_shadow {
    text-shadow: 1px 1px 1px #000;
}

.normal_font {
    font-size: $font_size_default;
    font-weight: normal;
}

.small_0 {
    font-size: 95%;
}

.small {
    font-size: 84%;
}

.tag {
    font-size: $font_size_default - 1;
    background: $color_tag_bg;
    padding: 2px 8px 4px 8px;
    border-radius: 3px;
    margin-right: 3px;
}

.font_style_normal {
    font-style: normal;
}

/* Markdown fix on unsorted list */
/* It is translated as ul li p wherein p should no be present. */
/* We just remove the extra spaces between p */
section .column_main ul li p {
    margin-bottom: 0;
}
