body {
    background: $color_bg;
    font: $font_size_default/1.5 $font_default;
    color: $color_text;
    padding-bottom: 0;
    margin-bottom: 0;
    /* 'Hide' horizontal scrollbar when viewed in small media */
    /* https://css-tricks.com/findingfixing-unintended-body-overflow/ */
    overflow-x: hidden;
    
    padding-right: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font_heading;
}

li, a, p, dl {
    font-family: $font_default;
    font-size: $font_size_default;
}

a {
    color: $color_text;
    /* border-bottom: 1px dotted $color_lbg; */
    border-bottom: 1px dotted $color_link_underline;
    text-decoration: none;
}
a:hover {
    color: $color_primary;
    border-bottom: 1px dotted $color_primary;
}

hr {
    border: 0;
    outline: none;
    height: 3px;
    background: $color_lbg;
    margin-top: 40px;
    margin-bottom: 40px;
}

hr.thin {
    height: 1px;
    margin-top: 20px;
    margin-bottom: 17px;
    background: $color_lbg;
}

hr.compact {
    margin-top: 3px;
    margin-bottom: 4px;
}

ul {
    list-style-type: disc;
    list-style-image: none;
    margin-bottom: 0;
}

b, strong {
    // Override the font-family used
    font-family: $font_default !important;
    font-size: $font_size_default;
    font-weight: bold;
    color: $color_text_highlight;
}

i, em {
    font-size: $font_size_default;
    font-weight: normal;
    border-bottom: 1px dotted $color_text_darker - 50;
}

pre {
	font-family: $font_code;
    font-size: $font_size_code;
}

p code {
	font-family: $font_code;
    font-size: $font_size_code;
}

table, th, td {
	font-size: $font_size_default;
	border: 1px solid $color_table_border;
}

th {
	padding: 3px 10px;
}

td {
	padding: 1px 10px 2px 10px;
}

th:first-child,
td:first-child {
	border-left: none;
}

blockquote {
    font-size: $font_size_default;
    border-left: 3px solid $color_lbg;
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0 0 0 12px;
    width: 80%;
}

aside {
    font-size: $font_size_default;
    line-height: 18px;
    text-align: right;
    color: $color_aside_text;
    float: right;
    width: 34%;
    padding: 6px 8px 6px 8px;
    margin-left: 10px;
    border-right: 3px solid $color_lbg;
}

/* ------------------------------------------------------------------------- */
/* Header and header navigation                                              */
/* ------------------------------------------------------------------------- */

header {
    background: black;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
}

header h1 {
    margin: 0;
    padding: 5px 0 0 15px;
}

header h1 {
	a {
        font-family: $font_title;
		font-size: $font_size_title;
		font-weight: normal;
		text-align: left;
		line-height: $font_size_title;
		color: $color_primary_darker;
		border: none;
	}
	a:hover {
		border: none;
	}
}

header h2 {
    font-family: $font_subtitle;
    font-weight: normal;
    font-style: italic;
    font-size: $font_size_title_tagline - 1;
    text-align: left;
    line-height: 14px;

    margin: 0;
	/* If the title changes, the top padding may need to be adjusted */
    padding: 7px 0 10px 15px;
    /* When viewed in small media, the text is displayed too close to the */
    /* vertical scrollbar so we add some padding on the right */
    padding-right: 15px;
}

header div.nav_background {
    background: black;
    /* Manually adjusted if the header navigation gets taller/shorter */
    height: 29px;
}

nav {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 9px;
    padding-bottom: 2px;
}

nav.left {
    float: left;
    margin-left: 15px;
}

nav.right {
    float: right;
    margin-right: 15px;
}

nav li {
    display: inline-block;
    margin-right: 1px;
}

nav li a {
    font-family: $font_label;
    font-size: $font_size_default - 1;
    font-weight: normal;
	color: $color_primary_darker;

    text-transform: uppercase;

    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;

    border-top: 3px solid black;
    border-bottom: 0px;
}

nav li a:hover {
    /* Remove the bottom dotted line in common link styles */
    border-bottom: 0px;
    border-top: 3px solid $color_primary;
}

nav li a.active {
    color: black;
    background: $color_primary;
    border-top: 3px solid $color_primary;
    border-bottom: 1px solid $color_primary;
    border-radius: 3px 3px 0px 0px;
}

nav li a.active:hover {
}

nav.navbar {
    background: $color_nav_bg;
    padding: 0;
    margin: 0;
    border-top: 5px solid $color_primary;
    border-bottom: 1px solid $color_lbg;
    height: 25px;
}

nav.navbar p {
    margin-bottom: 0;
}

/* ------------------------------------------------------------------------- */
/* Columns                                                                   */
/* ------------------------------------------------------------------------- */

section.column_left_sidebar,
section.column_main,
section.column_right_sidebar {
    float: left;

    font-family: $font_default;
    margin-top: 17px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

section.column_left_sidebar {
    width: 20%
}
section.column_main {
    width: 47%;
}
section.column_right_sidebar {
    width: 23%;

    border-radius: 3px;
    background: #1a1a1a;
    padding: 12px 15px 15px 15px;
}

/* Media screen sizes */
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media print, screen and (max-width: 1280px) {
    section[class="column_left_sidebar"] { width: 23%; }
    section[class="column_main"] { width: 40%; }
    section[class="column_right_sidebar"] { width: 24%; }
}

@media print, screen and (max-width: 1024px) {
    section[class="column_left_sidebar"] { width: 30%; }
    section[class="column_main"] { width: 62%; }
    section[class="column_right_sidebar"] { width: 92%; }
}

/* Intermediate transition */
/* Expand the main column only */
@media print, screen and (max-width: 850px) {
    section[class="column_left_sidebar"] { width: 30%; }
    section[class="column_main"] { width: 62%; }
    section[class="column_right_sidebar"] { width: 92%; }
}

@media print, screen and (max-width: 749px) {
    section[class="column_left_sidebar"] { width: 30%; }
    section[class="column_main"] { width: 60%; }
    section[class="column_right_sidebar"] { width: 92%; }
}

@media print, screen and (max-width: 720px) {
    section[class="column_left_sidebar"] { width: 93%; }
    section[class="column_main"] { width: 93%; }
    section[class="column_right_sidebar"] { width: 86%; }
}

@media print, screen and (max-width: 480px) {
    section[class="column_left_sidebar"] { width: 93%; }
    section[class="column_main"] { width: 93%; }
    section[class="column_right_sidebar"] { width: 86%; }
}

/* generic */
@media print, screen and (max-width: 360px) {
    section[class="column_left_sidebar"] { width: 91%; }
    section[class="column_main"] { width: 92%; }
    section[class="column_right_sidebar"] { width: 83%; }
}

@media print, screen and (max-width: 320px) {
    section[class="column_left_sidebar"] { width: 91%; }
    section[class="column_main"] { width: 92%; }
    section[class="column_right_sidebar"] { width: 82%; }
}

/* ------------------------------------------------------------------------- */
/* Main content column                                                       */
/* ------------------------------------------------------------------------- */

section.column_main h3 { font-size: 18px; }
section.column_main h4 { font-size: 15px; }
section.column_main h5 { font-size: 13px; }
section.column_main h6 { font-size: 11px; }

section.column_main {
    h3, h4, h5, h6 {
        font-family: $font_heading;
        font-weight: normal;
        color: $color_text_highlight;
    }
    h3, h4 {
        text-shadow: 1px 1px 1px #000;
    }
    h3.pagetitle {
        padding-top: 5px;
        margin-bottom: 14px;
    }
}

section.column_main h3:first-child {
    line-height: 1em;
    /* Align top with the left and right column 'titles' */
    margin-top: 6px;
    margin-top: 0;
}

section.column_main h4,
section.column_main h5,
section.column_main h6 {
    padding-top: 20px;
}

section.column_main p,
section.column_main li,
section.column_main dl {
    font-family: $font_default;
    font-size: $font_size_default;
    line-height: 18px;
    text-align: left;
}

section.column_main p {
    margin: 0 0 8px 0;
}

section.column_main p.excerpt,
section.column_main p.category,
section.column_main p.date {
    font-size: $font_size_default;
    color: $color_text_dark;
    margin: 0;
}

section.column_main ul {
    margin-bottom: 10px;
}

/* Collapse bottom margin of inner 'ul' */
section.column_main ul ul {
    margin-bottom: 0px;
}

/* ------------------------------------------------------------------------- */
/* Left sidebar column                                                       */
/* ------------------------------------------------------------------------- */

section.column_left_sidebar h3,
section.column_left_sidebar h4,
section.column_left_sidebar h5 {
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}

section.column_left_sidebar h3:first-child {
    margin-top: 0;
}

section.column_left_sidebar h3 {
    font-size: 15px;
    line-height: 18px;
}
section.column_left_sidebar h4 { font-size: 14px; }
section.column_left_sidebar h5 { font-size: 12px; }

section.column_left_sidebar p {
    font-size: $font_size_default - 1;
    line-height: 16px;
}

#random_tidbits div.tidbit_entry {
    border-radius: 3px;
    background: #1a1a1a;
    /* Use at least 1px padding on top otherwise it collapses */
    padding: 10px 15px 12px 15px;
    margin-bottom: 12px;
}

#random_tidbits p {
    color: $color_text_dark;
    margin-bottom: 0px;
	a, a:hover {
		border-bottom: none;
	}
}

#random_tidbits p.qauthor {
    font-family: $font_heading;
    font-style: italic;
    font-size: $font_size_default - 2;
    color: $color_text_highlight;
    padding-top: 8px;
}

#nav_left {
    border-radius: 3px;
    background: #1a1a1a;
    padding: 17px 15px 12px 15px;
    margin-bottom: 12px;
    box-shadow: 3px 3px 3px $color_bg - 20;
}

#nav_left li {
    margin-right: 1px;
    padding-bottom: 5px;
}

#nav_left li a {
    font-family: $font_label;
    font-size: $font_size_default - 1;
    font-weight: normal;
	color: $color_primary_darker;

    text-transform: uppercase;
    
    padding-left: 9px;
    border-bottom: none;
}

#nav_left li a:hover {
    color: $color_primary;
}

#nav_left li a.active {
    color: black;
    background: $color_primary_darker;
    border: 1px solid $color_primary_darker;
    padding: 1px 8px 1px 8px;
    border-radius: 3px;
}

/* ------------------------------------------------------------------------- */
/* Right sidebar column                                                       */
/* ------------------------------------------------------------------------- */

section.column_right_sidebar h3 { font-size: $font_size_default - 1; /* 12px; */}
section.column_right_sidebar h4 { font-size: $font_size_default;/* 11px; */}
section.column_right_sidebar h5 { font-size: $font_size_default + 1;/* 10px; */}

section.column_right_sidebar h3,
section.column_right_sidebar h4,
section.column_right_sidebar h5 {
    font-family: $font_label;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
    margin-top: 8px;
    margin-bottom: 8px;
}

section.column_right_sidebar h3 {
    color: $color_primary_darker;
    text-transform: uppercase;
    margin: 0;
    /* h3 is used as label so we put some padding after it */
    padding-bottom: 10px;
}

section.column_right_sidebar ul li {
    padding: 0;
    line-height: 18px;
    a {
        font-size: $font_size_default;
    }
	a, a:hover {
		border-bottom: none;
	}
}

section.column_right_sidebar ul li {
    a {
        font-family: $font_heading;
        font-size: $font_size_default - 1;
        color: $color_text_darker;
    }
    a:hover {
		color: $color_primary;
	}
}

section.column_right_sidebar ul li a:before {
    /* content: "\00BB  "; */
}

// TODO: Where should we define code and pre?
//       This must be consistent. Currently they are set in 3 different
//       locations.

code {
    font-family: $font_code;
    font-size: $font_size_code;
    color: $color_code_highlight;
    margin: 0 4px;
}

pre {
	font-family: $font_code;
    line-height: 16px;
    padding: 7px 10px;
    background: none;
    border: none;
    margin-bottom: 5px;
    overflow: auto;
    overflow-y: hidden;
}

pre code {
	font-family: $font_code;
    color: $color_text_darker;
    text-shadow: none;
    border: none;
    border-radius: 0px;
}

/* Fenced code blocks */
div.highlight {
	color: $color_text_darker;
    background: #202020;
}

/* ------------------------------------------------------------------------- */
/* Footer                                                                    */
/* ------------------------------------------------------------------------- */

#back_to_top {
    color: black;
    background: $color_primary;
    border-top: 2px solid $color_primary;
    border-bottom: 2px solid $color_primary;
    border-left: 15px solid $color_primary;
    border-right: 15px solid $color_primary;
    border-radius: 2px;
}

#prefooter {
    float: left;
    width: 100%;
    padding: 20px 0px 15px 0px;
    margin-left: 5px;
    #prefooter_column_one,
    #prefooter_column_two,
    #prefooter_column_three,
    #prefooter_column_four {
        float: left;
        width: 282px;
        padding-right: 30px;
    }
}

footer {
    float: left;
    width: 100%;

    font-family: $font_footer;
    font-size: $font_size_footer;
    color: $color_text;
    background: $color_footer_bg;
    border-top: 3px solid $color_lbg;
    padding: 20px 0px 15px 0px;
    
    #footer_bottom {
        float: left;
        padding: 10px 25px 0 25px;
        p, p a {
            font-size: $font_size_license;
        }
        p a {
            color: $color_primary_darker;
            border: none;
        }
    }
}

footer #footer_content {
    padding: 0px 0 0 25px;
    #footer_column_one,
    #footer_column_two,
    #footer_column_three,
    #footer_column_four {
        float: left;
        width: 282px;
        padding-right: 30px;
    }
}

footer #footer_content #footer_column_one.license {
    p, p a {
        font-size: $font_size_license;
    }
	p a {
		color: $color_primary_darker;
		border: none;
	}
    p {
        padding: 0px;
        word-wrap: normal;
    }
}

#page_previous,
#page_next {
	width: 50%;
	a {
		font-size: $font_size_page_nav;
		color: $color_primary_darker;
		border-bottom: none;
	}
	a:hover {
        color: $color_primary;
		border-bottom: 1px dotted $color_primary_darker;
	}
	h3 {
        // Color: Do not set the color so that it inherits the a color.
        // Padding: Do not set zero padding so it inherits the vspace class setting.
		font-size: $font_size_default + 2;
		font-weight: normal;
        line-height: 1.3em;
        color: $color_primary_darker;
		text-shadow: 1px 1px 1px #000;
		margin: 0;
	}
    p {
        color: $color_text;
    }
}

#page_previous {
	float: left;
}
#page_next {
	float: right;
	text-align: right;
	a, p {
		text-align: right;
	}
}

// Index page listing post summaries instead of bullet list
// like the Recent Posts on the right side column
article.summary {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	h4 {
        font-family: $font_heading;
		font-size: $font_size_default + 1;
		font-weight: normal;
        color: $color_primary_darker;
		line-height: 1.5em;
		text-shadow: 1px 1px 1px #000;
		padding: 0;
		margin: 0;
	}
	h4:hover {
		color: $color_primary;
	}
	p {
		font-size: $font_size_default;
		line-height: 1.3em;
		padding: 0;
		margin: 0;
        padding-bottom: 10px;
	}
    a:hover p.excerpt {
        color: $color_text_highlight;
    }
	// Read more...
	a {
		font-size: $font_size_default;
		border-bottom: none;
	}
	a:hover {
        color: $color_primary;
		border-bottom: 1px dotted $color_primary;
	}
}

// Archive page
#archive {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
}

section.social {
	a {
		font-size: $font_size_default;
		font-weight: normal;
		color: black;
		background: $color_primary_darker;
		border: 1px solid $color_primary_darker;
		border-radius: 3px;
		padding: 0px 8px 1px 8px;
		margin-left: 5px;
	}
	// Invert text and background color only
	a:hover {
		color: $color_primary;
		background: black;
		border: 1px solid $color_primary;
		border-radius: 3px;
	}
}

.justify {
    text-align: justify;
}

.list_style_none {
    list-style-type: none;
}

.list_style_nopadding {
    padding-left: 0;
}

li.no_left_margin {
    margin-left: 0px;
}

.link_color {
    color: $color_primary_darker;
}

.vspace5 {
    padding-bottom: 5px;
}

.vspace10 {
    padding-bottom: 10px;
}

.vspace {
    padding-bottom: 25px;
}

.highlight {
    color: $color_text_highlight !important;
}

.text_shadow {
    text-shadow: 1px 1px 1px #000;
}

.normal_font {
    font-size: 100%;
    font-weight: normal;
}

.small_0 {
    font-size: 95%;
}

.small {
    font-size: 84%;
}

.tag {
    font-size: $font_size_default - 1;
    background: $color_tag_bg;
    padding: 2px 8px 4px 8px;
    border-radius: 3px;
    margin-right: 3px;
}

/* Markdown fix on unsorted list */
/* It is translated as ul li p wherein p should no be present. */
/* We just remove the extra spaces between p */
section .column_main ul li p {
    margin-bottom: 0;
}
