
#datetime_block {
    @media print {
        display: none;
    }

    div.entries {
        width: 100%;

        div.entry {

            p.date,
            p.time {
                margin: 0 0 5px 0;
                padding: 0;
                color: $color_index_entry_text;
            }
            div.utc {
            }
            p.date {
                @include use_font($font_datetime, $font_size_datetime);
                line-height: $font_line_height_datetime;
            }
            p.time {
                @include use_font($font_datetime, $font_size_datetime);
                line-height: $font_line_height_datetime;
            }

        }
    }
}
