@font-face {
  font-family: 'NegernsCourier';
  src: url("../fonts/NegernsCourier.ttf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }
body {
  background: #252525;
  font: 8px "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #b3b3b3;
  padding-bottom: 0;
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif; }

li, a, p, dl {
  font-family: "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px; }

a {
  color: #b3b3b3;
  border-bottom: 1px dotted #555555; }

a:hover {
  color: #FFB90F;
  border-bottom: 1px dotted #FFB90F; }

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: #555555;
  margin-top: 40px;
  margin-bottom: 40px; }

hr.thin {
  height: 1px;
  margin-top: 20px;
  margin-bottom: 17px;
  background: #555555; }

hr.compact {
  margin-top: 3px;
  margin-bottom: 4px; }

ul {
  list-style-type: disc;
  list-style-image: none;
  margin-bottom: 0; }

p strong {
  font-weight: bold;
  color: #dddddd; }

pre {
  font-size: 13px; }

p code {
  font-size: 13px; }

blockquote {
  font-size: 12px;
  border-left: 3px solid #555555;
  margin-left: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0 0 0 12px;
  width: 80%; }

aside {
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  color: #e8e8e8;
  float: right;
  /* width: 300px; */
  width: 34%;
  padding: 6px 8px 6px 8px;
  margin-left: 10px;
  border-right: 3px solid #555555; }

/* ------------------------------------------------------------------------- */
/* Header and header navigation                                              */
/* ------------------------------------------------------------------------- */
header {
  background: black;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 100; }

header h1 {
  margin: 0;
  padding: 10px 0 0 15px; }

header h1 a {
  font-size: 28px;
  font-weight: normal;
  text-align: left;
  line-height: 28px;
  color: #FFB90F;
  border: none; }

header h2 {
  font-weight: normal;
  font-size: 11px;
  text-align: left;
  line-height: 14px;
  margin: 0;
  /* If the title changes, the top padding may need to be adjusted */
  padding: 7px 0 10px 15px; }

header div.nav_background {
  background: black;
  /* Manually adjusted if the header navigation gets taller/shorter */
  height: 29px; }

nav {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 9px;
  padding-bottom: 2px; }

nav.left {
  float: left;
  margin-left: 15px; }

nav.right {
  float: right;
  margin-right: 15px; }

nav li {
  display: inline-block;
  margin-right: 4px; }

nav li a {
  font-family: "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif-1;
  font-weight: normal;
  color: #FFB90F;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 3px solid black;
  border-bottom: 0px; }

nav li a:hover {
  /* Remove the bottom dotted line in common link styles */
  border-bottom: 0px;
  border-top: 3px solid #FFB90F; }

nav li a.active {
  color: black;
  background: #FFB90F;
  border-top: 3px solid #FFB90F;
  border-bottom: 1px solid #FFB90F;
  border-radius: 3px 3px 0px 0px; }

nav.navbar {
  background: #333333;
  padding: 0;
  margin: 0;
  border-top: 5px solid #FFB90F;
  border-bottom: 1px solid #555555;
  height: 25px; }

nav.navbar p {
  margin-bottom: 0; }

/* ------------------------------------------------------------------------- */
/* Columns                                                                   */
/* ------------------------------------------------------------------------- */
section.column_left_sidebar,
section.column_main,
section.column_right_sidebar {
  float: left;
  font-family: "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 17px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px; }

section.column_left_sidebar {
  width: 20%; }

section.column_main {
  width: 47%; }

section.column_right_sidebar {
  width: 24%;
  border-radius: 10px;
  background: #1a1a1a;
  padding: 12px 15px 15px 15px; }

@media print, screen and (max-width: 1280px) {
  section[class="column_left_sidebar"] {
    width: 23%; }

  section[class="column_main"] {
    width: 40%; }

  section[class="column_right_sidebar"] {
    width: 24%; } }
@media print, screen and (max-width: 1024px) {
  section[class="column_left_sidebar"] {
    width: 22%; }

  section[class="column_main"] {
    width: 39%; }

  section[class="column_right_sidebar"] {
    width: 23%; } }
/* Intermediate transition */
/* Expand the main column only */
@media print, screen and (max-width: 850px) {
  section[class="column_left_sidebar"] {
    width: 23%; }

  section[class="column_main"] {
    width: 37%; }

  section[class="column_right_sidebar"] {
    width: 23%; } }
@media print, screen and (max-width: 720px) {
  section[class="column_left_sidebar"] {
    width: 31%; }

  section[class="column_main"] {
    width: 56%; }

  section[class="column_right_sidebar"] {
    width: 95%; } }
@media print, screen and (max-width: 480px) {
  section[class="column_left_sidebar"] {
    width: 93%; }

  section[class="column_main"] {
    width: 93%; }

  section[class="column_right_sidebar"] {
    width: 84%; } }
/* ------------------------------------------------------------------------- */
/* Main content column                                                       */
/* ------------------------------------------------------------------------- */
section.column_main h3 {
  font-size: 18px; }

section.column_main h4 {
  font-size: 15px; }

section.column_main h5 {
  font-size: 12px; }

section.column_main h3,
section.column_main h4,
section.column_main h5 {
  font-weight: bold;
  text-shadow: 1px 1px 1px #000; }

section.column_main h3:first-child {
  line-height: 1em;
  /* Align top with the left and right column 'titles' */
  margin-top: 6px;
  margin-top: 0; }

section.column_main h4,
section.column_main h5 {
  padding-top: 20px; }

section.column_main p,
section.column_main li,
section.column_main dl {
  font-family: "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  text-align: left; }

section.column_main p {
  margin: 0 0 8px 0; }

section.column_main p strong {
  font-weight: normal; }

section.column_main p.excerpt,
section.column_main p.category,
section.column_main p.date {
  font-size: 12px;
  margin: 0; }

section.column_main ul {
  margin-bottom: 10px; }

/* Collapse bottom margin of inner 'ul' */
section.column_main ul ul {
  margin-bottom: 0px; }

/* ------------------------------------------------------------------------- */
/* Left sidebar column                                                       */
/* ------------------------------------------------------------------------- */
section.column_left_sidebar h3,
section.column_left_sidebar h4,
section.column_left_sidebar h5 {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px; }

section.column_left_sidebar h3:first-child {
  margin-top: 0; }

section.column_left_sidebar h3 {
  font-size: 15px;
  line-height: 18px; }

section.column_left_sidebar h4 {
  font-size: 14px; }

section.column_left_sidebar h5 {
  font-size: 12px; }

section.column_left_sidebar p {
  font-size: 12px; }

/* ------------------------------------------------------------------------- */
/* Right sidebar column                                                       */
/* ------------------------------------------------------------------------- */
section.column_right_sidebar h3 {
  font-size: 12px; }

section.column_right_sidebar h4 {
  font-size: 11px; }

section.column_right_sidebar h5 {
  font-size: 10px; }

section.column_right_sidebar h3,
section.column_right_sidebar h4,
section.column_right_sidebar h5 {
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px; }

section.column_right_sidebar h3 {
  line-height: 18px;
  color: #FFB90F;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0; }

section.column_right_sidebar p {
  font-size: 12px;
  line-height: 15px;
  text-align: left; }

section.column_right_sidebar ul li {
  padding: 0;
  line-height: 16px; }
  section.column_right_sidebar ul li a, section.column_right_sidebar ul li a:hover {
    border-bottom: none; }

section.column_right_sidebar ul li a:before {
  /* content: "\00BB  "; */ }

code {
  font-family: "NegernsCourier", "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size: 13px;
  color: #eeeeee;
  margin: 0 4px; }

pre {
  line-height: 16px;
  padding: 7px 10px;
  background: none;
  border: none;
  margin-bottom: 5px;
  overflow: auto;
  overflow-y: hidden; }

pre code {
  color: #9f9f9f;
  text-shadow: none;
  border: none;
  border-radius: 0px; }

/* Fenced code blocks */
div.highlight {
  background: #202020; }

/* ------------------------------------------------------------------------- */
/* Footer                                                                    */
/* ------------------------------------------------------------------------- */
footer {
  float: left;
  width: 100%;
  font-family: "Muli", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #b3b3b3;
  background: #333333;
  border-top: 3px solid #555555;
  padding: 20px 0px 15px 0px; }

footer #content {
  padding: 0px 0 0 25px; }

footer #content #footer_column_one,
footer #content #footer_column_two,
footer #content #footer_column_three,
footer #content #footer_column_four {
  float: left;
  width: 282px;
  padding-right: 30px; }

footer #content #footer_column_one.license p, footer #content #footer_column_one.license p a {
  font-size: 10px; }
footer #content #footer_column_one.license p a {
  color: #FFB90F;
  border: none; }

footer #footer_bottom p, footer #footer_bottom p a {
  font-size: 10px; }
footer #footer_bottom p a {
  color: #FFB90F;
  border: none; }

footer #footer_bottom {
  float: left;
  padding: 10px 25px 0 25px; }

footer p {
  padding: 0px;
  word-wrap: normal; }

.justify {
  text-align: justify; }

.list_style_none {
  list-style-type: none; }

.list_style_nopadding {
  padding-left: 0; }

.link_color {
  color: #FFB90F; }

.vspace {
  padding-bottom: 25px; }

.small {
  font-size: 84%; }

.tag {
  background: #404040;
  padding: 0px 8px 2px 8px;
  border-radius: 3px;
  margin-right: 5px; }

/* Markdown fix on unsorted list */
/* It is translated as ul li p wherein p should no be present. */
/* We just remove the extra spaces between p */
section .column_main ul li p {
  margin-bottom: 0; }
