blockquote {
    border-left: 6px solid $color_blockquote_bar;
    margin: 12px 0 12px 20px;
    @include max-screen(720px) {
        margin-left: 15px;
    }
    padding: 1px 12px 1px 15px;
    border-radius: 0 4px 4px 0;
    width: 80%;
    background: $color_blockquote_bg;

    p, a, li {
        @include use_font($font_blockquote, $font_size_blockquote);
        font-style: $font_style_blockquote;
        @include use_color($color_blockquote);
    }
    & > blockquote {
        padding: 0 12px 0 15px;
    }
}
