blockquote {
    border-left: 6px solid $color_blockquote_bar;
    margin: 12px 0 12px 30px;
    @include max-screen(720px) {
        margin-left: 15px;
    }
    padding: 1px 12px 1px 15px;
    border-radius: 0 4px 4px 0;
    width: 80%;
    background: $color_blockquote_bg;

    p, a, li {
        /*
        @include set_font($font_blockquote, $font_size_blockquote + 4, $color_blockquote);
        line-height: $font_size_blockquote + 8;

        @include max-screen(720px) {
            @include set_font($font_blockquote, $font_size_blockquote + 2, $color_blockquote);
            line-height: $font_line_height_blockquote + 2;
        }
        @media print {
            @include set_font($font_blockquote, $font_size_blockquote + 4, $color_blockquote);
            line-height: $font_size_blockquote + 12;
        }

        word-spacing: $word_spacing_blockquote;
        margin-bottom: 12px;

        e {
            font-style: normal;
        }
        a {
            margin-bottom: 0px;
            &:hover {
                color: $color_link;
                border-bottom: 1px dotted $color_link_underline;
            }
        }
        */
        @include use_font($font_blockquote, $font_size_blockquote);
        @include use_color($color_blockquote);
    }
    & > blockquote {
        padding: 0 12px 0 15px;
    }
}
