div.footnotes {
    padding-top: 30px;
    
    ol {
        margin: 0 0 30px 0;
        padding-top: 12px;
        border-top: 1px solid $color_hr_default;
        padding-left: 20px;
        li {
            margin-top: 5px;
        }
        
        li > p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        li > p > a {
            border-bottom: 1px dotted $color_link_underline;
            &:hover {
                color: $color_primary;
            }
        
        }
        
        li em {
            font-size: $font_size_footnote - 1;
            line-height: $font_line_height_footnote;
        }
        
        li,
        li > p,
        li > p > a {
            @include use_font($font_footnote, $font_size_footnote);
            line-height: $font_line_height_footnote;
        }
    }
}
