<section class="column_left_sidebar">
    <b>Search Tokens</b><br>
    <p>Search tokens can be either single or multiple words and can be combined together.
    Multiple word search tokens are searched exactly as is like in phrases, names, etc.
    To differentiate betweeen the two, multiple word search tokens must be enclosed in double quotes ("").</p>
    
    <p>If the <i>search token</i> contains or is enclosed in single (') or double (") quotation marks, use their equivalent Unicode characters.</p>
           
    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;U+2018 ‘ - left single quote<br>
    &nbsp;&nbsp;&nbsp;&nbsp;U+2019 ’ - right single quote<br>
    &nbsp;&nbsp;&nbsp;&nbsp;U+201C “ - left double quote<br>
    &nbsp;&nbsp;&nbsp;&nbsp;U+201D ” - right double quote<br>
    </p>
    
    <p>Examples of search tokens, shown how they are actually typed or entered in the <em>search input box</em>.</p>

    <p>
    &nbsp;&nbsp;&nbsp;&nbsp;There’s<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"Apostrophe’s use" today<br>
    &nbsp;&nbsp;&nbsp;&nbsp;"“in double quotes”"<br>
    </p>
    
    <b>Search Ranking</b><br>
    <p>The search facility uses ranking based on the occurrence of the search tokens. Higher ranked found items are displayed on top.</p>
    
    <b>Quick-Access</b><br>
    <p>For quick access to the search facility a <i>search box</i> is present on almost every page.
    Also, you can use the shortcut key Alt+S or Meta+S.</p>
</section>
