<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/layout.css"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/override.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <body>
      <div id="header">
        <nav>
          <li><a href="https://rmaicle.github.io">Home</a></li>
          <li><a href="https://github.com/rmaicle">View on GitHub</a></li>
        </nav>
      </div><!-- end header -->

      <div class="wrapper">

        <section>
          <div id="title">
            <h1>rmaicle</h1>
            <p></p>
            <!-- <hr> -->
            <!-- <span class="credits left">Project maintained by <a href="https://github.com/rmaicle">rmaicle</a></span> -->
            <!-- <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span> -->
          </div>
        <section>

          <div id="contentwrapper">

            <section>
              <div id="contentleft">
              {{ content }}
              </div>
            </section>

            <section>
              <div id="contentright">
              <p>The quick brown fox jumped over the lazy dog</p>
              </div>
            </section>

          </div>

    </div><!-- end wrapper -->

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
