<!doctype html>
<html lang="en">

    {% include head.html %}

<body>

    {% include header.html %}


    <p id="layoutdims">&nbsp;</p>

<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">

            {{ content }}

		</div><!-- end colleft -->
	</div>
</div>

{% include footer.html %}

<!--[if !IE]><script>fixScale(document);</script><![endif]-->
<!-- Twitter Widget (Must be before the closing body tag) -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
