---
layout: default
---

{% comment %}
This file is a layout file for all documentations, manuals, specifications,
etc that mimicks a book-style interface.

This file must be in the '_layouts' directory or relatively
soft linked in that directory with the name 'documentation.html'
relative to this directory.

In the _layouts directory:
    ln -s ../docs/_documentation.html documentation.html
{% endcomment %}



{% include group_index.html %}

{% capture empty %}

{% assign home_link = site.data.documentation.groups[group_index].link %}
{% assign path_url = page.url | replace: site.baseurl, '' | remove_first: '/' | split: '/' %}

{% assign chapter_no = 1000 %}
{% assign section_no = 1000 %}
{% assign subsection_no = 1000 %}
{% assign subsubsection_no = 1000 %}
{% assign paragraph_no = 1000 %}
{% assign subparagraph_no = 1000 %}

{% if path_url.size == 3 %}
    {% assign chapter_no = path_url[2] | replace: 'chapter_', '' | minus: 1 %}
{% elsif path_url.size > 3 %}
    {% assign chapter_no = path_url[2] | replace: 'ch', '' | minus: 1 %}
{% endif %}

{% if path_url.size == 4 %}
    {% assign section_no = path_url[3] | replace: 'section_', '' | minus: 1 %}
{% elsif path_url.size > 4 %}
    {% assign section_no = path_url[3] | replace: 'sec', '' | minus: 1 %}
{% endif %}

{% if path_url.size == 5 %}
    {% assign subsection_no = path_url[4] | replace: 'subsection_', '' | minus: 1 %}
{% elsif path_url.size > 5 %}
    {% assign subsection_no = path_url[4] | replace: 'subsec', '' | minus: 1 %}
{% endif %}

{% if path_url.size == 6 %}
    {% assign subsubsection_no = path_url[5] | replace: 'subsubsection_', '' | minus: 1 %}
{% elsif path_url.size > 6 %}
    {% assign subsubsection_no = path_url[5] | replace: 'subsubsec', '' | minus: 1 %}
{% endif %}

{% if path_url.size == 7 %}
    {% assign paragraph_no = path_url[6] | replace: 'paragraph_', '' | minus: 1 %}
{% elsif path_url.size > 7 %}
    {% assign paragraph_no = path_url[6] | replace: 'para', '' | minus: 1 %}
{% endif %}

{% if path_url.size == 8 %}
    {% assign subparagraph_no = path_url[7] | replace: 'subparagraph_', '' | minus: 1 %}
{% endif %}

{% assign chapter = '' %}
{% assign section = '' %}
{% assign subsection = '' %}
{% assign subsubsection = '' %}
{% assign paragraph = '' %}
{% assign subparagraph = '' %}

{% assign chapter_link = '' %}
{% assign section_link = '' %}
{% assign subsection_link = '' %}
{% assign subsubsection_link = '' %}
{% assign paragraph_link = '' %}
{% assign subparagraph_link = '' %}

{% assign chapter = site.data.documentation.groups[group_index].chapters[chapter_no].chapter %}
{% assign chapter_link = site.data.documentation.groups[group_index].chapters[chapter_no].link %}
{% if section_no < 1000 %}
    {% assign section = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].section %}
    {% assign section_link = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].link %}
{% endif %}
{% if subsection_no < 1000 %}
    {% assign subsection = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsection %}
    {% assign subsection_link = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].link %}
{% endif %}
{% if subsubsection_no < 1000 %}
    {% assign subsubsection = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].subsubsection %}
    {% assign subsubsection_link = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].link %}
{% endif %}
{% if paragraph_no < 1000 %}
    {% assign paragraph = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].paragraphs[paragraph_no].paragraph %}
    {% assign paragraph_link = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].paragraphs[paragraph_no].link %}
{% endif %}
{% if subparagraph_no < 1000 %}
    {% assign subparagraph = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].paragraphs[paragraph_no].subparagraphs[subparagraph_no].subparagraph %}
    {% assign subparagraph_link = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].paragraphs[paragraph_no].subparagraphs[subparagraph_no].link %}
{% endif %}

{% assign doc_title = '' %}

{% if path_url.size == 3 %}
    {% assign doc_title = site.data.documentation.groups[group_index].chapters[chapter_no].chapter %}
{% endif %}

{% if path_url.size == 4 %}
    {% assign doc_title = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].section %}
{% endif %}

{% if path_url.size == 5 %}
    {% assign doc_title = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsection %}
{% endif %}

{% if path_url.size == 6 %}
    {% assign doc_title = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].subsubsection %}
{% endif %}

{% if path_url.size == 7 %}
    {% assign doc_title = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].paragraphs[paragraph_no].paragraph %}
{% endif %}

{% if path_url.size == 8 %}
    {% assign doc_title = site.data.documentation.groups[group_index].chapters[chapter_no].sections[section_no].subsections[subsection_no].subsubsections[subsubsection_no].paragraphs[paragraph_no].subparagraphs[subparagraph_no].subparagraph %}
{% endif %}

{% endcapture %}{% assign empty = nil %}



{% include doc_left_sidebar.html %}

<section class="doc_column_main">
    {% if is_found == false %}
        <p>Group not found: {{ page.group }}</p>
    {% endif %}
    <h5 class="bread_crumb padding_top_none margin_bottom_none"><a href="{{ site.data.documentation.groups[group_index].link }}">{{ site.data.documentation.groups[group_index].title }}</a></h5>
    <h6 class="bread_crumb padding_top_none margin_bottom_none">
        <a href="{{ home_link }}">Home</a>
        {% if path_url.size > 3 %}
            <span class="color_highlight">&nbsp;&bull;&nbsp;</span>
            <a href="{{ chapter_link }}">{{ chapter }}</a>
            {% if path_url.size > 4 %}
                <span class="color_highlight">&nbsp;&bull;&nbsp;</span>
                <a href="{{ section_link }}">{{ section }}</a>
                {% if path_url.size > 5 %}
                    <span class="color_highlight">&nbsp;&bull;&nbsp;</span>
                    <a href="{{ subsection_link }}">{{ subsection }}</a>
                    {% if path_url.size > 6 %}
                        <span class="color_highlight">&nbsp;&bull;&nbsp;</span>
                        <a href="{{ subsubsection_link }}">{{ subsubsection }}</a>
                        {% if path_url.size > 7 %}
                            <span class="color_highlight">&nbsp;&bull;&nbsp;</span>
                            <a href="{{ paragraph_link }}">{{ paragraph }}</a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </h6>
    {% assign title = page.title | markdownify | replace: '<p>', '' | replace: '</p>', '' %}
    <h1 class="title">{{ title }}{% if page.draft == true %}<span>(draft)</span>{% endif %}</h1>
    {% if site.debug %}
        {% if page.title != doc_title %}
    <p>Title Mismatch</p>
    <p>Page Title:          {{ title }}.</p>
    <p>Documentation Title: {{ doc_title }}.</p>
        {% endif %}
    {% endif %}
    
    {{ content }}

</section>

{% include doc_right_sidebar.html %}
