---
layout: default
group: Posts
---

{% include post_left_sidebar.html %}

<section class="column_main">

    <h1 class="pagetitle">{{ page.title }}</h1>
    <p class="excerpt">{{ page.excerpt }}</p>
    <p class="date">{{ page.date | date_to_string }}</p>
    <p class="category vspace">Filed under:&nbsp;
        {% for category in page.categories %}
            <span>{{ category }}</span>&nbsp;
        {% endfor %}
    </p>

    {{ content }}

    {% include post_bottom.html %}

</section>

{% include post_right_sidebar.html %}
