---
layout: default
group: Posts
---

{% include post_left_sidebar.html %}

<section class="column_main">

    <h3 class="pagetitle">{{ page.title }}</h3>
    <p class="excerpt">{{ page.excerpt }}</p>
    <p class="category">Filed under:&nbsp;
    {% for category in page.categories %}
        <span>{{ category }}</span>&nbsp;
    {% endfor %}
    </p>
    <p class="date vspace">{{ page.date | date_to_string }}</p>

    {{ content }}

    <!-- Add vertical space before the 'hr' so it does not look cramped -->
    <p>&nbsp;</p>
    {% include post_bottom.html %}



</section>

{% include post_right_sidebar.html %}
