---
layout: default
group: DLang
---

{% include reference_dlang_left_sidebar.html %}

<section class="column_main">
    <!--
    {% if page.title != "Home" %}
        <h3 class="pagetitle">
            {{ page.title }}
        </h3>
        {% if page.title != "D Programming Language" %}
            <p class="excerpt vspace">
                Unofficial D Programming Language Reference<br/>
                {{ page.excerpt }}
            </p>
        {% endif %}
    {% endif %}
    -->

    {{ content }}
    
    {% include reference_dlang_bottom.html %}

</section>

{% include reference_dlang_right_sidebar.html %}
