---
layout: default
---

{% assign dguide = false %}
{% assign dref = false %}
{% for tag in page.tags %}
    {% if tag == "dguide" %}
        {% assign dlangref = true %}
        {% assign dguide = true %}
        {% break %}
    {% endif %}
    {% if tag == "dref" %}
        {% assign dlangref = true %}
        {% assign dref = true %}
        {% break %}
    {% endif %}
{% endfor %}

{% assign draft = false %}
{% for tag in page.tags %}
    {% if tag == "draft" %}
        {% assign draft = true %}
        {% break %}
    {% endif %}
{% endfor %}

{% include reference_dlang_left_sidebar.html %}

<section class="column_main">
    {% if page.section == nil %}
    <h6 class="color_primary_darker padding_top_none margin_bottom_none"><a href="/dlang-guide/index.html">{{ page.title }}</a></h6>
    <h1>{{ page.chapter }}
    {% else %}
    <h6 class="color_primary_darker padding_top_none margin_bottom_none"><a href="/dlang-guide/index.html">{{ page.title }}</a>
    <span class="color_highlight">&bull;</span>
    {% assign page_title = page.chapter %}
    {% for item in site.data.dguide %}
        {% if item.chapter == page_title %}
            <a class="no_underline" href="{{ item.href }}">{{ page.chapter }}</a></h6>
            {% break %}
        {% endif %}
    {% endfor %}
    <h1>{{ page.section }}
    {% endif %}
    
    {% if draft == true %}
        &nbsp;&nbsp;&nbsp;[draft]
    {% endif %}
    </h1>

    {{ content }}
    
    {% include reference_dlang_bottom.html %}

</section>

{% include reference_dlang_right_sidebar.html %}
